@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:ital,wght@0,100;0,300;0,400;1,300&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@700&display=swap');

/* colors
#cec6b9
#240000 */
*{
    margin: 0;
    padding: 0;
    
}

html,
body {
  
  font-family: "poppins";
  background-image: url(coffee-1900194_1280.jpg);
  background-position: center;
  background-size: cover;
  color: #F6F1E9;
}
.img {
  /* background-image: url(coffee-1900194_1280.jpg);
  background-position: center;
  background-size: cover; */
  max-width: 100%;
  height: 100vh;
  position: relative;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.upper-img {
  /* position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); */
  min-height: 200vh;
  width: 90vw;
  backdrop-filter: blur(40px);
  /* border-radius: 40px; */
  padding: 30px 7%;
  
}
/* navabr */
.logo{
  color: #F6F1E9;
  font-size: 2rem;
  font-family: poppins;
  
}
.nav-li{
  color: #240000;
  margin: 0px 15px 0 0;
  padding: 10px;
  font-size: 1rem;
  border-radius: 16px;
  
}
.nav-a{
  color: #F6F1E9;
}
.nav-a:hover{
  color: #F6F1E9;
  
}


.title{
  font-size: clamp(4rem, 4vw, 1.8rem);
  color: #F6F1E9;
  font-family: 'tilt neon';
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 40px;
}

.head-btn {
  background: #240000;
  border-radius: 999px;
  box-shadow: #240000 0 10px 20px -10px;
  box-sizing: border-box;
  color: #F6F1E9;
  cursor: pointer;
  font-family: 'tilt neon';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 24px;
  opacity: 1;
  text-transform: uppercase;
  outline: 0 solid transparent;
  padding: 8px 25px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  transition: 0.3s ease;
}
.head-btn-2 {
  background: #F5F7F8;
  border-radius: 999px;
  box-shadow: #F5F7F8 0 10px 20px -10px;
  box-sizing: border-box;
  color: #240000;
  cursor: pointer;
  font-family: 'tilt neon';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 24px;
  opacity: 1;
  text-transform: uppercase;
  outline: 0 solid transparent;
  padding: 8px 25px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  transition: 0.3s ease;
}
.head-btn:hover{
  padding:12px 30px ;
}
.ion-icon{
  color: #240000;
  background-color: #F6F1E9;
  margin: 0px 15px 0 0;
  padding: 10px;
  font-size: 24px;
  border-radius: 16px;
}
li{
  list-style: none;
}
.left{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
.parent{
  height: 200px;
  width: 300px;
  color: #240000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #F6F1E9;
  border-radius: 20px;
  padding: 70px 0 0 0;
}
.just{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.two{
  margin-top:15%;
}
.image{
  position: absolute;
  bottom: 50%;
  left: 26%;
  max-width: 300px;
  height: 180px;
  border-radius: 50%;
}
.card-p{
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'tilt neon';
  text-transform: capitalize;
}
.card-p2{
  font-family: 'tilt neon';
  margin-bottom: 8px !important;
}
p{
  margin-bottom: 0.4rem !important;
}
.about-sec{
  min-height: 90vh;
  display: flex;
  align-items: end;
  justify-content: end;
  color: #F6F1E9;
}
.ab-image{
  width: 27vw;
}
.ab-left, .ab-right{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.ab-sec{
  font-family: 'tilt neon';
  color: #F6F1E9;
  font-size: clamp(3rem, 4vw, 1.5rem);
}
.ab-des{
  font-family: "poppins";
  letter-spacing: 0.01rem;
  margin-bottom: 10px !important;
}
.down{
  margin-top: 30px;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-img-top{
  width: 70% !important;
}
.card{
  align-items: center;
  text-align: center;
  border-radius: 20px !important;
  color: #F6F1E9;
}
.one{
  background-color: #9d5839 !important;
  

}
.second{
  background-color: #150c09 !important;
}
.third{
  background-color: #0c5b38 !important;
}
.forth{
  background-color: #576d81 !important;
}
.five{
  background-color: #261d22 !important;
}
.six{
  background-color: #525b60 !important;
}
.card-title{
  font-family: 'tilt neon';
  text-transform: uppercase;
  font-size: 1.6rem;
}
.card-text{
  font-size: 1.1rem;
}
.menu{
  max-width: 100%;
  min-height: 100vh;
  margin-top: 6%;
}
.menu-s{
  margin-top: 4%;
}
.footer{
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  color: #F6F1E9;
}
.fo-p{
  text-align: center;
  max-width: 800px;
  margin-top: 2%;
}
.footer-2{
  min-height: 50vh;
  max-width: 100%;
  border-radius: 20px;
  background-color: #240000;
  padding: 10% 0 10% 10%;
}



.inp {
  position: relative;
  margin: 10px 0 20px 0;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
}

.inp .label {
  position: absolute;
  top: 20px;
  left: 12px;
  font-size: 16px;
  color: #F5F7F8;
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0,0,0);
  transition: all 0.2s ease;
  pointer-events: none;
}

.inp .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #240000;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}

.inp input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 16px 12px 0 12px;
  height: 56px;
  font-size: 16px;
  font-weight: 400;
  background: #240000;
  box-shadow: inset 0 -1px 0 #F5F7F8;
  color: #F5F7F8;
  transition: all 0.15s ease;
}

.inp input:hover {
  background: #240000;
  box-shadow: inset 0 -1px 0 #F5F7F8 0.5;
}

.inp input:not(:placeholder-shown) + .label {
  color: #F5F7F8;
  transform: translate3d(0,-12px,0) scale(0.75);
}

.inp input:focus {
  background: #240000;
  outline: none;
  box-shadow: inset 0 -2px 0 #fff;
}

.inp input:focus + .label {
  color: #fff;
  transform: translate3d(0,-12px,0) scale(0.75);
}

.inp input:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}
.con-parent{
  text-align: left;
}
.fo-h1{
  font-size: 2rem;
  text-transform: uppercase;
  text-align: left;
  font-family: 'tilt neon';
  border-bottom: 4px solid #F5F7F8;
  max-width: 400px;
  color: #F5F7F8;
}
/* .con-fo{
  border-left:2px solid #FF5656;
} */
#flex{
  display: flex;
  align-items: end;
  min-height: 150px;
}
.li-fo{
  color: #F5F7F8;
}
.col{
  color: #F5F7F8;
}
.do{
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-btn{
  border-style: none;
  display: none;
  background-color:transparent ;
  color: #F5F7F8;
  border-style: none;
  
}
.ab{
  display: flex;
  flex-direction: row;

}
@media only screen and (max-width: 400px){
  .toggle-btn{
   display: block;
}

  .items{
    display: none;
  }
  .title{
    margin-top: 10px;
  }
 
  .i{
    margin-bottom: 80px;
  }
  .two{
    margin-top: 20%;
  }
  .footer-2{
    padding: 5%;
  }
  .li-fo{
    display: none;
  }
  .col{
    margin-top: 5%;
  }
  .ab{
    flex-direction: column !important;
  }
}